<!DOCTYPE html>
<html>
  <head>
    <title>DatCom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <%= javascript_include_tag 'application' %>

    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "<% ENV['FIREBASE_API_KEY'] %>",
        authDomain: "<% ENV['FIREBASE_AUTH_DOMAIN']%>",
        databaseURL: "<% ENV['FIREBASE_DB_URL'] %>",
        projectId: "datcom-115d9",
        storageBucket: "",
        messagingSenderId: "268876521580"
      };
      // window.firebase = firebase.initializeApp(config);
      firebase.initializeApp(config);

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
